button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #3964a2;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #477dca; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #355e98; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  border: #593E1A solid 1em;
  margin: 0; }

main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Merriweather', 'Georgia', serif; }
  main::after {
    clear: both;
    content: "";
    display: table; }
  main a:hover, main a:active, main a:link, main a:visited {
    color: #6B78B4; }
  main p {
    font-size: 1em; }
  main h1 {
    font-size: 2.5rem;
    line-height: 1.225;
    margin-bottom: 1.05em; }
  main h2 {
    font-size: 1.6em; }
  main h3 {
    font-size: 1.4em; }
  main h1, main h2, main h3, main h4, main h5, main h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-weight: 700;
    line-height: 1.3em;
    color: #593E1A; }
    main h1 a, main h2 a, main h3 a, main h4 a, main h5 a, main h6 a {
      font-weight: bold;
      font-weight: 700;
      text-decoration: underline; }
  main .block-local-tasks-block button a:hover, main .block-local-tasks-block button a:active, main .block-local-tasks-block button a:link, main .block-local-tasks-block button a:visited {
    color: white; }

footer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.32558%;
  width: 100%; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  footer:last-child {
    margin-right: 0; }

.layout-content {
  float: left;
  display: block;
  margin-right: 2.32558%;
  width: 57.36434%; }
  .layout-content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .layout-content {
      float: left;
      display: block;
      margin-right: 2.32558%;
      width: 100%; }
      .layout-content:last-child {
        margin-right: 0; } }
  .layout-content .block-system-main-block a {
    text-decoration: underline; }

.layout-sidebar-second {
  float: left;
  display: block;
  margin-right: 2.32558%;
  width: 14.72868%; }
  .layout-sidebar-second:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .layout-sidebar-second {
      float: left;
      display: block;
      margin-right: 2.32558%;
      width: 100%; }
      .layout-sidebar-second:last-child {
        margin-right: 0; } }

.layout-sidebar-first {
  float: left;
  display: block;
  margin-right: 2.32558%;
  width: 23.25581%; }
  .layout-sidebar-first:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .layout-sidebar-first {
      float: left;
      display: block;
      margin-right: 2.32558%;
      width: 100%; }
      .layout-sidebar-first:last-child {
        margin-right: 0; } }

.layout-sidebar-first .block,
.layout-sidebar-second .block {
  margin: 0 0 1.1em 0; }
  .layout-sidebar-first .block h2,
  .layout-sidebar-second .block h2 {
    border-top: 4px solid #593E1A;
    font-size: 1em;
    margin: 0;
    padding: 1.3em 0;
    text-transform: uppercase; }

/* header */
header {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header .site-logo {
    float: left;
    display: block;
    margin-right: 2.32558%;
    width: 23.25581%; }
    header .site-logo:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      header .site-logo {
        float: left;
        display: block;
        margin-right: 2.32558%;
        width: 100%; }
        header .site-logo:last-child {
          margin-right: 0; } }
  header .site-name-and-slogan {
    padding-top: 1.3em;
    float: left;
    display: block;
    margin-right: 2.32558%;
    width: 74.4186%; }
    header .site-name-and-slogan:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      header .site-name-and-slogan {
        float: left;
        display: block;
        margin-right: 2.32558%;
        width: 100%; }
        header .site-name-and-slogan:last-child {
          margin-right: 0; } }
    header .site-name-and-slogan .site-slogan {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-weight: 100; }
    header .site-name-and-slogan .site-name {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-weight: 700;
      font-size: 1.7em; }
      header .site-name-and-slogan .site-name a {
        color: #593E1A; }

.top-menu {
  margin: 1em 0;
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 0.8em;
  text-align: right; }
  .top-menu ul.menu {
    display: inline;
    padding-left: 0; }
    .top-menu ul.menu li {
      display: inline;
      list-style-type: none;
      padding: 0 0.5em; }
      .top-menu ul.menu li a:hover, .top-menu ul.menu li a:active, .top-menu ul.menu li a:link, .top-menu ul.menu li a:visited {
        color: #000000; }
      .top-menu ul.menu li a .is-active {
        color: #000; }

.primary-menu {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em; }
  .primary-menu::after {
    clear: both;
    content: "";
    display: table; }
  .primary-menu div {
    background: #266A2E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-weight: 700;
    float: left;
    display: block;
    margin-right: 2.32558%;
    width: 100%;
    margin: 1em 0;
    padding: 0.6em 0 0.6em 0.4em; }
    .primary-menu div:last-child {
      margin-right: 0; }
    .primary-menu div ul.menu {
      display: inline;
      padding-left: 0; }
      .primary-menu div ul.menu li {
        display: inline;
        list-style-type: none;
        padding: 0 1em; }
        .primary-menu div ul.menu li a {
          text-decoration: underline; }
          .primary-menu div ul.menu li a:hover, .primary-menu div ul.menu li a:active, .primary-menu div ul.menu li a:link, .primary-menu div ul.menu li a:visited {
            color: white; }
          .primary-menu div ul.menu li a .is-active {
            color: #000; }

/* book navigation under book content */
.book-navigation {
  border-top: 2px solid #593E1A;
  opacity: 0.9;
  margin: 1em 0; }
  .book-navigation .menu {
    padding-bottom: 0;
    padding-top: 1em; }
  .book-navigation .book-pager {
    margin: 0;
    overflow: auto;
    padding: 0.5em 0; }
  .book-navigation .book-pager__item {
    display: inline-block;
    list-style-type: none;
    vertical-align: top; }
  .book-navigation .book-pager__item--previous {
    text-align: left;
    width: 45%; }
  .book-navigation .book-pager__item--center {
    text-align: center;
    width: 8%; }
  .book-navigation .book-pager__item--next {
    float: right;
    text-align: right;
    width: 45%; }

.block-book-navigation ul.menu {
  list-style: none outside;
  margin-left: 1em;
  padding: 0;
  text-align: left; }
  .block-book-navigation ul.menu a.is-active:hover, .block-book-navigation ul.menu a.is-active:active, .block-book-navigation ul.menu a.is-active:link, .block-book-navigation ul.menu a.is-active:visited {
    color: #000; }
  .block-book-navigation ul.menu .menu-item--expanded {
    list-style-image: url(../../../core/misc/menu-expanded.png);
    list-style-type: circle; }
  .block-book-navigation ul.menu .menu-item--collapsed {
    list-style-image: url(../../../core/misc/menu-collapsed.png);
    list-style-type: disc; }
  .block-book-navigation ul.menu .menu-item {
    padding-top: 0.2em;
    margin: 0; }

/* breadcrumbs */
.breadcrumb {
  font-size: 0.8em;
  padding-bottom: 0.5em; }
  .breadcrumb ol {
    margin: 0;
    padding: 0; }
    .breadcrumb ol li {
      display: inline;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .breadcrumb ol li:before {
        content: ' \BB '; }
      .breadcrumb ol li:first-child:before {
        content: none; }

.block-local-tasks-block {
  margin-bottom: 1em; }

/*# sourceMappingURL=screen.css.map */
