@import "bourbon/bourbon";
@import "base/base";
@import "partials/base";
@import "grid-settings";
@import "neat/neat";

body {
  border: $brown solid 1em;
  margin: 0;
}

main {
  @include outer-container;
  font-family: 'Merriweather', 'Georgia', serif;
  a {
    &:hover, &:active, &:link, &:visited {
      color: $dark_blue;
    }
  }
  p {
    font-size: 1em;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 1.225;
    margin-bottom: 1.05em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  h1, h2, h3, h4, h5, h6 {
    @include font;
    line-height: 1.3em;
    color: $brown;
    a {
      font-weight: bold;
      font-weight: 700;
      text-decoration: underline;
    }
  }
  .block-local-tasks-block {
    button {
      a {
        &:hover, &:active, &:link, &:visited {
          color: white;
        }
      }
    }
  }
}

footer {
  @include outer-container;
  @include span-columns(12);
}

.layout-content {
  @include span-columns(7);
  @include media($tablet) {
    @include span-columns(12 of 12);
  }
  .block-system-main-block {
    a {
      text-decoration: underline;
    }
  }
}

.layout-sidebar-second {
  @include span-columns(2);
  @include media($tablet) {
    @include span-columns(12 of 12);
  }
}

.layout-sidebar-first {
  @include span-columns(3);
  @include media($tablet) {
    @include span-columns(12 of 12);
  }
}

.layout-sidebar-first,
.layout-sidebar-second {
  .block {
    h2 {
      border-top: 4px solid $brown;
      font-size: 1em;
      margin: 0;
      padding: 1.3em 0;
      text-transform: uppercase;
    }
    margin: 0 0 1.1em 0;
  }
}

/* header */

header {
  @include outer-container;
  margin-bottom: 1em;
  .site-logo {
    @include span-columns(3);
    @include media($tablet) {
      @include span-columns(12 of 12);
    }
  }
  .site-name-and-slogan{
    padding-top: 1.3em;
    @include span-columns(9);
    @include media($tablet) {
      @include span-columns(12 of 12);
    }
    .site-slogan {
      @include font(100);
    }
    .site-name {
      @include font;
      font-size: 1.7em;
      a {
        color: $brown;
      }
    }
  }
}

.top-menu {
  margin: 1em 0;
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 0.8em;
  text-align: right;
  ul.menu {
    display: inline;
    padding-left: 0;
    li {
      display: inline;
      list-style-type: none;
      padding: 0 0.5em;
      a {
        &:hover, &:active, &:link, &:visited {
          color: #000000;
        }
        .is-active {
          color: #000;
        }
      }
    }
  }
}

.primary-menu {
  @include outer-container;
  margin-bottom: 1em;
  div {
    background: $green;
    @include font;
    @include span-columns(12);
    margin: 1em 0;
    padding: 0.6em 0 0.6em 0.4em;
    ul.menu {
      display: inline;
      padding-left: 0;
      li {
        display: inline;
        list-style-type: none;
        padding: 0 1em;
        a {
          text-decoration: underline;
          &:hover, &:active, &:link, &:visited {
            color: white;
          }
          .is-active {
            color: #000;
          }
        }
      }
    }
  }
}

/* book navigation under book content */

.book-navigation {
  border-top: 2px solid $brown;
  opacity: 0.9;
  margin: 1em 0;
  .menu {
    padding-bottom: 0;
    padding-top: 1em;
  }
  .book-pager {
    margin: 0;
    overflow: auto;
    padding: 0.5em 0;
  }
  .book-pager__item {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
  }
  .book-pager__item--previous {
    text-align: left;
    width: 45%;
  }
  .book-pager__item--center {
    text-align: center;
    width: 8%;
  }
  .book-pager__item--next {
    float: right;
    text-align: right;
    width: 45%;
  }
}

.block-book-navigation {
  ul.menu {
    list-style: none outside;
    margin-left: 1em;
    padding: 0;
    text-align: left;
    a.is-active {
      &:hover, &:active, &:link, &:visited {
        color: #000;
      }
    }
    li.menu-item--expanded {
      list-style-image: url(../../../core/misc/menu-expanded.png);
      list-style-type: circle;
    }
    .menu-item--collapsed {
      list-style-image: url(../../../core/misc/menu-collapsed.png);
      list-style-type: disc;
    }
    .menu-item {
      padding-top: 0.2em;
      margin: 0 0 0.2em 0;
    }
  }
}

/* breadcrumbs */

.breadcrumb {
  font-size: 0.8em;
  padding-bottom: 0.5em;
  ol {
    margin: 0;
    padding: 0;
    li {
      display: inline;
      list-style-type: none;
      margin: 0;
      padding: 0;
      &:before {
        content: ' \BB ';
      }
      &:first-child:before {
        content: none;
      }
    }
  }
}

.block-local-tasks-block {
  margin-bottom: 1em;
}

article {
  .body {
    table {
      border-top: 4px solid $brown;
      border-bottom: 4px solid $brown;
      tr {
        &:first-child {
          border-bottom: 2px solid $brown;
          font-weight: bold;
        }
      }
    }
  }
}
